fullscreen=0
width=1920
height=1080
highdpi=1
shadow=1
vsm=1
shadow_ms=1
num_shadowmaps=4
normalmapping=1
light_fixed=0
perspective_near=0.1
perspective_wh=0.1
perspective_far=10000

vsync=0
fps=60
frame_sleep=0
shadowmap_resolution=4096
blur_param=0.8
blur_bilinear=1
blur_shadow=0
gldebug=0
auto_reload=1
blur_filter=1
virt_scale=1.0
update_frag_depth=0
fxaa_filter=1
calc_distance=1
edit_mode=0
dbgval=0
raycast_cull_front=1
short_circuit=0
