fullscreen=0
width=1024
height=512
highdpi=1
vsync=1
shadow=1
shadowmap_resolution=4096
vsm=1
shadow_ms=1
num_shadowmaps=5
normalmapping=1
light_fixed=0
perspective_near=0.1
perspective_wh=0.1
perspective_far=10000
frame_sleep=0

blur_param=0.7
blur_bilinear=0
blur_shadow=0
gldebug=0
auto_reload=1
calc_distance=1
virt_scale=1.0
update_frag_depth=1
fxaa=0
