width=512
height=64
#vsm=0
#width=1024
#height=512
vsync=1
fullscreen=0
highdpi=0
gldebug=1
normalmapping=0
perspective_near=1
perspective_far=10000
light_fixed=0
shadow=0
shadowmap_resolution=4096
shadow_ms=1
shadowmap_distance=40
shadowmap_scale=4
num_shadowmaps=4
macos_nvidia_wa=1
vsm=1
fps=3600
frame_sleep=0
