fullscreen=0
width=1024
height=512
highdpi=1
shadow=1
vsm=1
shadow_ms=1
num_shadowmaps=4
normalmapping=1
light_fixed=0
perspective_near=0.1
perspective_wh=0.1
perspective_far=10000

vsync=1
fps=30
frame_sleep=1
shadowmap_resolution=1024
blur_param=0.75
blur_bilinear=0
blur_shadow=0
gldebug=0
auto_reload=1
virt_scale=4.0
update_frag_depth=0
fxaa=0
calc_distance=1
edit_mode=0
