#fullscreen=0
#width=1024
#height=512
highdpi=0
vsync=1
shadow=1
shadowmap_resolution=1024
shadow_ms=1
vsm=0
#depth_texture=0
normalmapping=1
light_fixed=0
perspective_near=0.1
perspective_wh=0.1
perspective_far=10000
frame_sleep=0

gldebug=0
auto_reload=0
calc_distance=1
virt_scale=0.5
