edit_mode=0
option_value2=-1
#edit_mode=1
#option_value2=0

auto_reload=1
capture_filter=0
aberration_filter=0

dbgval=0
gldebug=0

motion_serial=Arduino Due

raycast_layer=32

glfinish=1
enable_raycast_zprepass=0
enable_dbgui=0
vsync=1
fullscreen=0
width=1280
height=720
#width=512
#height=512
highdpi=1

# 11,11,7
#voxel_map_w=11
#voxel_map_h=11
#voxel_map_d=7
# 9,9,6
voxel_map_w=9
voxel_map_h=9
voxel_map_d=6

#framestat_threshold=2.0
dummy_flip=1
update_frag_depth=1
shadow=1
debug_zprepass=0
shadowmap_resolution=2048
num_shadowmaps=4
shadowmap_scale=3.0

vsm=0
shadow_ms=1
shadowmap_distance=8.0
normalmapping=1
light_fixed=0
perspective_wh=0.1
perspective_near=0.1
perspective_far=10000

fps=60
frame_sleep=0
blur_param=0.8
blur_bilinear=1
blur_filter=1
bokeh=0
virt_scale=1.0
blur_shadow=0
fxaa_filter=1
motion_blur_filter=0
raycast_cull_front=1
short_circuit=1
calc_distance=1
