edit_mode=1
vsync=1
fullscreen=0
width=1280
# width=1920
height=720
# height=1080
highdpi=1

voxel_map_w=8
voxel_map_h=8
voxel_map_d=5


dummy_flip=1
update_frag_depth=1
shadow=1
debug_zprepass=0
shadowmap_resolution=2048
num_shadowmaps=4
shadowmap_scale=3.0

vsm=0
shadow_ms=1
shadowmap_distance=20.0
normalmapping=1
light_fixed=0
perspective_wh=0.1
perspective_near=0.1
perspective_far=10000

fps=60
frame_sleep=0
blur_param=0.8
blur_bilinear=1
blur_filter=1
bokeh=0
virt_scale=1.0
gldebug=0
blur_shadow=0
auto_reload=1
fxaa_filter=1
motion_blur_filter=0
dbgval=0
glfinish=0
raycast_cull_front=1
short_circuit=1
calc_distance=1
